<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:gap="http://phonegap.com/ns/1.0"
    id="portafolio.arias.serna.saravia"
    version="1.0.0"
    versionCode="10"
    xmlns="http://www.w3.org/ns/widgets" >

    <name>Arias Serna Saravia</name>

    <description>
        Este es el Portafolio Corporativo Digital de la firma colombiana Arias Serna Saravia
    </description>

    <author email="catillolu@gmail.com" href="https://build.phonegap.com" >
        The author
    </author>
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="orientation" value="landscape" />
    <preference name="webviewbounce" value="false" />
    <preference name="fullscreen" value="false" />
     
    <icon src="images/icon-72.png" gap:platform="ios" width="72" height="72" />
	<gap:splash src="images/landscape.png" width="1024" height="768" />
</widget>