html
{
	background: #7F7F7F url("../images/fondo.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1024px;
}

#pu101
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 55px;
	left: 44px;
}

#u101
{
	z-index: 3;
	width: 1112px;
}

#u99
{
	z-index: 5;
	width: 1101px;
	margin-left: 6px;
}

#pu193
{
	width: 0.01px;
	position: relative;
	background-color: #FFFFFF;
	height:510px;
	width:1024px;
}

#u193
{
	z-index: 10;
	width: 38px;
	height: 77px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	margin-right: -38px;
	margin-top: 216px;
	background: transparent url("../images/boton-izq.png") no-repeat left top;
}

#u193:hover
{
	background-image: url("../images/boton-izq2.png");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	margin: 216px -38px 0px 0px;
}

#u207
{
	z-index: 13;
	width: 260px;
	height: 493px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -260px;
	left: 45px;
}

#u209
{
	z-index: 8;
	position: relative;
	float:right;
}

#u202
{
	z-index: 11;
	width: 238px;
	position: relative;
	margin: 382px 25px 0 0;
}

#u202_img
{
	vertical-align: top;
}

#u189
{
	z-index: 9;
	width: 38px;
	height: 77px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	margin-right: -38px;
	margin-top: 216px;
	left: 1150px;
	background: transparent url("../images/boton-der.png") no-repeat left top;
}

#u189:hover
{
	background-image: url("../images/boton-der2.png");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	margin: 216px -38px 0px 0px;
}

