html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 511px;
}

#u3081
{
	z-index: 2;
	width: 377px;
	height: 185px;
	border-color: #000000;
	background-color: #697586;
	position: relative;
	margin-right: -377px;
	margin-top: 327px;
}

#u3094
{
	z-index: 3;
	width: 135px;
	position: relative;
	margin-right: -135px;
	left: 377px;
}

#u3104
{
	z-index: 5;
	width: 512px;
	position: relative;
	margin-right: -512px;
	left: 512px;
}

#u3094_img,#u3104_img
{
	vertical-align: top;
}

#u3074
{
	z-index: 7;
	width: 163px;
	border-color: #000000;
	background-color: #697586;
	padding-bottom: 12px;
	position: relative;
	margin-right: -163px;
	margin-top: 293px;
	left: 32px;
}

#u638-4
{
	z-index: 19;
	width: 163px;
	min-height: 16px;
	color: #FFFFFF;
	text-align: center;
	font-size: 19px;
	letter-spacing: 0px;
	font-family: bebas-neue-n4, bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -163px;
	margin-top: 3px;
}

#u557
{
	z-index: 8;
	width: 656px;
	height: 3px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -656px;
	margin-top: 41px;
	left: 346px;
}

#u558
{
	z-index: 9;
	width: 3px;
	height: 65px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -3px;
	margin-top: 44px;
	left: 513px;
}

#u559-4
{
	z-index: 10;
	position: relative;
	width: 65px;
	margin-right: -65px;
	margin-top: 57px;
	left: 524px;
}

#u559-4_img
{
	display: block;
	vertical-align: top;
}

#u566-4
{
	z-index: 14;
	width: 232px;
	min-height: 39px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: bebas-neue-n4, bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -232px;
	margin-top: 86px;
	left: 604px;
}

#u1024
{
	z-index: 18;
	width: 647px;
	border-color: #000000;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.4);
	-pie-background: rgba(0, 0, 0, 0.4);
	padding-bottom: 25px;
	position: relative;
	margin-right: -647px;
	margin-top: 328px;
	left: 377px;
}

#u567-4
{
	z-index: 23;
	width: 235px;
	min-height: 114px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -235px;
	margin-top: 27px;
	left: 108px;
}

#u569-4
{
	z-index: 27;
	width: 254px;
	min-height: 132px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -254px;
	margin-top: 27px;
	left: 359px;
}

#u3082-7
{
	z-index: 31;
	width: 130px;
	min-height: 69px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -130px;
	margin-top: 49px;
	left: 232px;
}

#u3082-2,#u3082-4
{
	font-size: 12px;
	text-align: right;
	color: #7F7F7F;
	font-style: italic;
}

#u3082-5
{
	font-size: 13px;
	text-align: justify;
	color: #FFFFFF;
}

