html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 511px;
}

#u3119
{
	z-index: 2;
	width: 146px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 235px;
	position: relative;
	margin-right: -146px;
}

#u1084-7
{
	z-index: 44;
	width: 130px;
	min-height: 69px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -130px;
	margin-top: 55px;
	left: 53px;
}

#u1084-2,#u1084-4
{
	font-size: 12px;
	text-align: right;
	color: #7F7F7F;
	font-style: italic;
}

#u1084-5
{
	font-size: 13px;
	text-align: justify;
	color: #FFFFFF;
}

#u3116
{
	z-index: 3;
	width: 225px;
	height: 191px;
	border-color: #000000;
	background-color: #697586;
	position: relative;
	margin-right: -225px;
	margin-top: 321px;
}

#u1065
{
	z-index: 4;
	width: 304px;
	position: relative;
	margin-right: -304px;
	left: 208px;
}

#u1070
{
	z-index: 6;
	width: 512px;
	position: relative;
	margin-right: -512px;
	left: 512px;
}

#u1065_img,#u1070_img
{
	vertical-align: top;
}

#u1037
{
	z-index: 8;
	width: 815px;
	border-color: #000000;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.4);
	-pie-background: rgba(0, 0, 0, 0.4);
	padding-bottom: 45px;
	position: relative;
	margin-right: -815px;
	margin-top: 321px;
	left: 209px;
}

#u1080-4
{
	z-index: 13;
	width: 254px;
	min-height: 126px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -254px;
	margin-top: 20px;
	left: 16px;
}

#u1081-4
{
	z-index: 9;
	width: 254px;
	min-height: 111px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -254px;
	margin-top: 20px;
	left: 293px;
}

#u1082-4
{
	z-index: 17;
	width: 242px;
	min-height: 126px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -242px;
	margin-top: 20px;
	left: 570px;
}

#u1056
{
	z-index: 21;
	width: 788px;
	border-color: #000000;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.4);
	-pie-background: rgba(0, 0, 0, 0.4);
	position: relative;
	margin-right: -788px;
	margin-top: 301px;
	left: 213px;
}

#u1036-4
{
	z-index: 40;
	width: 163px;
	min-height: 20px;
	color: #FFFFFF;
	text-align: left;
	font-size: 17px;
	letter-spacing: 0px;
	font-family: bebas-neue-n4, bebas-neue, sans-serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -163px;
	margin-top: 3px;
	left: 12px;
}

#u1033-4
{
	z-index: 22;
	width: 220px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: left;
	font-size: 17px;
	letter-spacing: 0px;
	font-family: bebas-neue-n4, bebas-neue, sans-serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -220px;
	margin-top: 3px;
	left: 289px;
}

#u1042-4
{
	z-index: 26;
	width: 206px;
	min-height: 19px;
	color: #FFFFFF;
	text-align: left;
	font-size: 17px;
	letter-spacing: 0px;
	font-family: bebas-neue-n4, bebas-neue, sans-serif;
	font-weight: 400;
	margin-bottom: -3px;
	position: relative;
	margin-right: -206px;
	margin-top: 3px;
	left: 566px;
}

#u1044
{
	z-index: 30;
	width: 1032px;
	height: 3px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -1032px;
	margin-top: 40px;
	left: 30px;
}

#u1035
{
	z-index: 31;
	width: 3px;
	height: 65px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -3px;
	margin-top: 43px;
	left: 573px;
}

#u1043-4
{
	z-index: 32;
	position: relative;
	width: 67px;
	margin-right: -67px;
	margin-top: 56px;
	left: 584px;
}

#u1043-4_img
{
	display: block;
	vertical-align: top;
}

#u1050-4
{
	z-index: 36;
	width: 232px;
	min-height: 39px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-size: 22px;
	font-family: bebas-neue-n4, bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -232px;
	margin-top: 85px;
	left: 672px;
}

