html
{
	background: #7F7F7F url("../images/fondo.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1024px;
	height:510px;
	background:#FFF;

}

#u2513
{
	z-index: 7;
	width: 38px;
	height: 77px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	margin-right: -38px;
	margin-top: 251px;
	background: transparent url("../images/boton-izq.png") no-repeat left top;
}

#u2513:hover
{
	background-image: url("../images/boton-izq2.png");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	margin: 251px -38px 0px 0px;
}

#pu2529-4
{
	width: 1024px;
	position: relative;
}

#u2529-4
{
	z-index: 68;
	width: 139px;
	min-height: 15px;
	text-align: right;
	color: #403F3F;
	font-size: 11px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 411px;
	position: relative;
}

#pu2513,#pu2532
{
	width: 0.01px;
	position: relative;
}

#u2532
{
	z-index: 6;
	width: 470px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: absolute;
	padding: 10px 77px 6px 3px;
}

#u2523
{
	z-index: 8;
	width: 324px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 25px;
	position: relative;
}

#u2525
{
	z-index: 58;
	width: 2px;
	height: 49px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -2px;
	margin-top: 18px;
	left: 40px;
}

#pu2526-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 43px;
	left: 80px;
}

#u2526-4
{
	z-index: 59;
	width: 230px;
	min-height: 24px;
	letter-spacing: 1px;
	color: #000000;
	font-size: 17px;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2524-49
{
	z-index: 9;
	width: 350px;
	min-height: 340px;
	line-height: 1.1;
	text-align: left;
	font-size: 10px;
	color: #505050;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-top: 31px;
	position: relative;
}

#u2524-2,#u2524-7,#u2524-12,#u2524-17,#u2524-22,#u2524-27,#u2524-32,#u2524-37,#u2524-43
{
	font-weight: bold;
}

#pu2530-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 6px;
	position: relative;
}

#u2530-4
{
	z-index: 72;
	width: 47px;
	min-height: 15px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	color: #000000;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -47px;
}

#u2528-4
{
	z-index: 64;
	width: 360px;
	min-height: 19px;
	text-align: center;
	color: #A8A8A8;
	font-size: 10px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: absolute;
	left: 66px;
}

#u2527
{
	z-index: 63;
	width: 501px;
	height: 2px;
	border-color: #000000;
	background-color: #000000;
	position: absolute;
	margin-top: 26px;
	left: 0;
}

#pu107
{
	width: 0.01px;
	margin-left: 32px;
	position: relative;
}

#u107
{
	z-index: 3;
	width: 562px;
	margin-right: -562px;
}

