#u2600-4
{
	background-color: transparent;
	text-align: center;
	color: #6F6F6F;
	font-size: 17px;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2600-4:hover
{
	background-color: transparent;
}

#u2600-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2613-4
{
	background-color: transparent;
	text-align: center;
	color: #6F6F6F;
	font-size: 17px;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2600-4.MuseLinkActive,#u2613-4:hover
{
	background-color: transparent;
}

#u2600-4.MuseLinkActive p,#u2613-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2603-4
{
	background-color: transparent;
	text-align: center;
	color: #6F6F6F;
	font-size: 17px;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2613-4.MuseLinkActive,#u2603-4:hover
{
	background-color: transparent;
}

#u2613-4.MuseLinkActive p,#u2603-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2615-4
{
	background-color: transparent;
	text-align: center;
	color: #6F6F6F;
	font-size: 17px;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2603-4.MuseLinkActive,#u2615-4:hover
{
	background-color: transparent;
}

#u2603-4.MuseLinkActive p,#u2615-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2612-4,#u2617-4,#u2607-4,#u2614-4,#u2616-4,#u2618-4,#u2608-4,#u2604-4
{
	text-align: center;
	color: #FFFFFF;
	font-size: 17px;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2605-4
{
	background-color: transparent;
	text-align: center;
	color: #6F6F6F;
	font-size: 17px;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2615-4.MuseLinkActive,#u2605-4:hover
{
	background-color: transparent;
}

#u2615-4.MuseLinkActive p,#u2605-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2619-4
{
	background-color: transparent;
	text-align: center;
	color: #6F6F6F;
	font-size: 17px;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2605-4.MuseLinkActive,#u2619-4:hover
{
	background-color: transparent;
}

#u2605-4.MuseLinkActive p,#u2619-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2606-4
{
	background-color: transparent;
	text-align: center;
	color: #6F6F6F;
	font-size: 17px;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2619-4.MuseLinkActive,#u2606-4:hover
{
	background-color: transparent;
}

#u2619-4.MuseLinkActive p,#u2606-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2609-4
{
	background-color: transparent;
	text-align: center;
	color: #6F6F6F;
	font-size: 17px;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2606-4.MuseLinkActive,#u2609-4:hover
{
	background-color: transparent;
}

#u2606-4.MuseLinkActive p,#u2609-4:hover p
{
	color: #F7931E;
	visibility: inherit;
}

#u2610,#u2601
{
	position: relative;
}

#u2610_img,#u2601_img
{
	vertical-align: top;
}

#u2630-4
{
	background-color: transparent;
	line-height: 0.99;
	text-align: center;
	font-size: 13px;
	color: #3C3B3B;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2609-4.MuseLinkActive,#u2630-4:hover
{
	background-color: transparent;
}

#u2630-4:hover p
{
	color: #F7931E;
	visibility: inherit;
	line-height: 1.17;
}

#u2631-4
{
	background-color: transparent;
	line-height: 0.99;
	text-align: center;
	font-size: 13px;
	color: #3C3B3B;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2630-4.MuseLinkActive,#u2631-4:hover
{
	background-color: transparent;
}

#u2631-4:hover p
{
	color: #F7931E;
	visibility: inherit;
	line-height: 1.17;
}

#u2632-4
{
	background-color: transparent;
	line-height: 0.99;
	text-align: center;
	font-size: 13px;
	color: #3C3B3B;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2631-4.MuseLinkActive,#u2632-4:hover
{
	background-color: transparent;
}

#u2632-4:hover p
{
	color: #F7931E;
	visibility: inherit;
	line-height: 1.17;
}

#u2633-4
{
	background-color: transparent;
	line-height: 0.99;
	text-align: center;
	font-size: 13px;
	color: #3C3B3B;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2632-4.MuseLinkActive,#u2633-4:hover
{
	background-color: transparent;
}

#u2633-4:hover p
{
	color: #F7931E;
	visibility: inherit;
	line-height: 1.17;
}

#u2634-4
{
	background-color: transparent;
	line-height: 0.99;
	text-align: center;
	font-size: 13px;
	color: #3C3B3B;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2633-4.MuseLinkActive,#u2634-4:hover
{
	background-color: transparent;
}

#u2634-4:hover p
{
	color: #F7931E;
	visibility: inherit;
	line-height: 1.17;
}

#u2635-4
{
	background-color: transparent;
	line-height: 0.99;
	text-align: center;
	font-size: 13px;
	color: #3C3B3B;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2634-4.MuseLinkActive,#u2635-4:hover
{
	background-color: transparent;
}

#u2635-4:hover p
{
	color: #F7931E;
	visibility: inherit;
	line-height: 1.17;
}

#u2625-4
{
	background-color: transparent;
	line-height: 0.99;
	text-align: center;
	font-size: 13px;
	color: #3C3B3B;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2635-4.MuseLinkActive,#u2625-4:hover
{
	background-color: transparent;
}

#u2625-4:hover p
{
	color: #F7931E;
	visibility: inherit;
	line-height: 1.17;
}

#u2627-4
{
	background-color: transparent;
	line-height: 0.99;
	text-align: center;
	font-size: 13px;
	color: #3C3B3B;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2625-4.MuseLinkActive,#u2627-4:hover
{
	background-color: transparent;
}

#u2627-4:hover p
{
	color: #F7931E;
	visibility: inherit;
	line-height: 1.17;
}

#u2626-4
{
	background-color: transparent;
	line-height: 0.99;
	text-align: center;
	font-size: 13px;
	color: #3C3B3B;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2627-4.MuseLinkActive,#u2626-4:hover
{
	background-color: transparent;
}

#u2626-4:hover p
{
	color: #F7931E;
	visibility: inherit;
	line-height: 1.17;
}

#u2628-4
{
	background-color: transparent;
	line-height: 0.99;
	text-align: center;
	font-size: 13px;
	color: #3C3B3B;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2626-4.MuseLinkActive,#u2628-4:hover
{
	background-color: transparent;
}

#u2628-4:hover p
{
	color: #F7931E;
	visibility: inherit;
	line-height: 1.17;
}

#u2629-4
{
	background-color: transparent;
	line-height: 0.99;
	text-align: center;
	font-size: 13px;
	color: #3C3B3B;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
}

#u2628-4.MuseLinkActive,#u2629-4:hover
{
	background-color: transparent;
}

#u2629-4.MuseLinkActive
{
	background-color: transparent;
}

#u2629-4:hover p
{
	color: #F7931E;
	visibility: inherit;
	line-height: 1.17;
}

#u2609-4.MuseLinkActive p,#u2630-4.MuseLinkActive p,#u2631-4.MuseLinkActive p,#u2632-4.MuseLinkActive p,#u2633-4.MuseLinkActive p,#u2634-4.MuseLinkActive p,#u2635-4.MuseLinkActive p,#u2625-4.MuseLinkActive p,#u2627-4.MuseLinkActive p,#u2626-4.MuseLinkActive p,#u2628-4.MuseLinkActive p,#u2629-4.MuseLinkActive p
{
	color: #F7931E;
	visibility: inherit;
}

