html
{
	background: #7F7F7F url("../images/fondo.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1024px;
	height:510px;
	background:#FFF;
}

#pppu275-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 31px;
	left: 44px;
}

#ppu275-4
{
	width: 0.01px;
	margin-left: 70px;
	position: relative;
}

#pu275-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 153px;
}

#u275-4
{
	z-index: 11;
	width: 105px;
	min-height: 17px;
	margin-right: -105px;
	margin-top: 1px;
	left: 1px;
}

#u283-4
{
	z-index: 43;
	width: 105px;
	min-height: 17px;
	margin-right: -105px;
}

#u283-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -105px 0px 0px;
}

#u283-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -105px 0px 0px;
}

#pu277-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 380px;
}

#u277-4
{
	z-index: 19;
	width: 82px;
	min-height: 17px;
	margin-right: -82px;
	margin-top: 1px;
	left: 1px;
}

#u285-4
{
	z-index: 51;
	width: 82px;
	min-height: 17px;
	margin-right: -82px;
}

#u285-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -82px 0px 0px;
}

#u285-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -82px 0px 0px;
}

#pu279-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 566px;
}

#u279-4
{
	z-index: 27;
	width: 93px;
	min-height: 17px;
	margin-right: -93px;
	margin-top: 1px;
	left: 1px;
}

#u287-4
{
	z-index: 59;
	width: 93px;
	min-height: 17px;
	margin-right: -93px;
}

#u287-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -93px 0px 0px;
}

#u287-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -93px 0px 0px;
}

#pu281-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 837px;
}

#u281-4
{
	z-index: 35;
	width: 112px;
	min-height: 17px;
	margin-right: -112px;
	margin-top: 1px;
	left: 1px;
}

#u289-4
{
	z-index: 67;
	width: 112px;
	min-height: 17px;
	margin-right: -112px;
}

#u289-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -112px 0px 0px;
}

#u289-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -112px 0px 0px;
}

#u274-4
{
	z-index: 7;
	width: 145px;
	min-height: 17px;
	margin-right: -145px;
	margin-top: 1px;
	left: 1px;
}

#u276-4
{
	z-index: 15;
	width: 104px;
	min-height: 17px;
	margin-right: -104px;
	margin-top: 1px;
	left: 266px;
}

#u278-4
{
	z-index: 23;
	width: 57px;
	min-height: 17px;
	margin-right: -57px;
	margin-top: 1px;
	left: 484px;
}

#u280-4
{
	z-index: 31;
	width: 147px;
	min-height: 17px;
	margin-right: -147px;
	margin-top: 1px;
	left: 678px;
}

#u282-4
{
	z-index: 39;
	width: 145px;
	min-height: 17px;
	margin-right: -145px;
}

#u282-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -145px 0px 0px;
}

#u282-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -145px 0px 0px;
}

#u284-4
{
	z-index: 47;
	width: 104px;
	min-height: 17px;
	margin-right: -104px;
	left: 265px;
}

#u284-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -104px 0px 0px;
}

#u284-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -104px 0px 0px;
}

#u286-4
{
	z-index: 55;
	width: 57px;
	min-height: 17px;
	margin-right: -57px;
	left: 483px;
}

#u286-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -57px 0px 0px;
}

#u286-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -57px 0px 0px;
}

#u288-4
{
	z-index: 63;
	width: 147px;
	min-height: 17px;
	margin-right: -147px;
	left: 677px;
}

#u288-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -147px 0px 0px;
}

#u288-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -147px 0px 0px;
}

#u266
{
	z-index: 3;
	width: 1112px;
	margin-top: 3px;
}

#u264
{
	z-index: 5;
	width: 1101px;
	margin-left: 6px;
}

#pu2434
{
	width: 0.01px;
	position: relative;
}

#u2434
{
	z-index: 72;
	width: 38px;
	height: 77px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	margin-right: -38px;
	margin-top: 240px;
	background: transparent url("../images/boton-izq.png") no-repeat left top;
}

#u2434:hover
{
	background-image: url("../images/boton-izq2.png");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	margin: 240px -38px 0px 0px;
}

#ppu2453
{
	width: 0.01px;
	position: relative;
}

#pu2453
{
	width: 0.01px;
	position: relative;
}

#u2453
{
	z-index: 74;
	width: 81px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 350px;
	position: relative;
	margin-right: -81px;
}

#u2459
{
	z-index: 340;
	width: 2px;
	height: 49px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -2px;
	margin-top: 23px;
	left: 46px;
}

#u2454
{
	z-index: 75;
	width: 81px;
	height: 516px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -81px;
	left: 1013px;
}

#u2455-64
{
	z-index: 76;
	width: 231px;
	line-height: 1.1;
	text-align: left;
	font-size: 9px;
	color: #505050;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: absolute;
	margin-top: 103px;
	left: 73px;
}

#u2456-69
{
	z-index: 140;
	width: 231px;
	line-height: 1.1;
	text-align: left;
	font-size: 9px;
	color: #505050;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: absolute;
	margin-top: 103px;
	left: 555px;
}

#u2457-67
{
	z-index: 209;
	width: 231px;
	min-height: 387px;
	line-height: 1.1;
	text-align: left;
	color: #505050;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: absolute;
	margin-top: 103px;
	left: 304px;
}

#u2457-9,#u2457-16,#u2457-23,#u2457-32,#u2457-39,#u2457-46,#u2457-53,#u2457-60
{
	font-size: 10px;
	font-weight: bold;
}

#u2457-2,#u2457-4,#u2457-6,#u2457-7,#u2457-11,#u2457-13,#u2457-14,#u2457-18,#u2457-20,#u2457-21,#u2457-25,#u2457-27,#u2457-29,#u2457-30,#u2457-34,#u2457-36,#u2457-37,#u2457-41,#u2457-43,#u2457-44,#u2457-48,#u2457-50,#u2457-51,#u2457-55,#u2457-57,#u2457-58,#u2457-62,#u2457-64
{
	font-size: 9px;
}

#u2457-65
{
	font-size: 11px;
}

#u2458-64
{
	z-index: 276;
	width: 180px;
	line-height: 1.1;
	text-align: left;
	font-size: 9px;
	color: #505050;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: absolute;
	margin-top: 103px;
	left: 834px;
}

#u2455-2,#u2455-9,#u2455-16,#u2455-23,#u2455-30,#u2455-37,#u2455-44,#u2455-51,#u2455-58,#u2456-2,#u2456-11,#u2456-18,#u2456-25,#u2456-32,#u2456-39,#u2456-48,#u2456-55,#u2456-62,#u2458-2,#u2458-9,#u2458-11,#u2458-18,#u2458-25,#u2458-32,#u2458-39,#u2458-41,#u2458-43,#u2458-50,#u2458-57
{
	font-weight: bold;
}

#u2460-4
{
	z-index: 341;
	position: relative;
	width: 53px;
	margin-right: -53px;
	margin-top: 33px;
	left: 53px;
}

#u2460-4_img
{
	display: block;
	vertical-align: top;
}

#u2461-4
{
	z-index: 345;
	width: 119px;
	min-height: 24px;
	letter-spacing: 1px;
	color: #000000;
	font-size: 17px;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -119px;
	margin-top: 48px;
	left: 126px;
}

#u2462
{
	z-index: 349;
	width: 970px;
	height: 2px;
	border-color: #000000;
	background-color: #000000;
	position: absolute;
	margin-top: 21px;
	left: 28px;
}

#pu2465-4
{
	width: 0.01px;
	margin-left: 33px;
	position: absolute;
	top:482px;
}

#u2465-4
{
	z-index: 358;
	width: 47px;
	min-height: 15px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	color: #000000;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -47px;
}

#u2463-4
{
	z-index: 350;
	width: 360px;
	min-height: 19px;
	text-align: center;
	color: #A8A8A8;
	font-size: 10px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -360px;
	left: 94px;
}

#u2464-4
{
	z-index: 354;
	width: 360px;
	min-height: 19px;
	text-align: center;
	color: #A8A8A8;
	font-size: 10px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -360px;
	left: 550px;
}

#u2466-4
{
	z-index: 362;
	width: 31px;
	min-height: 15px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	color: #000000;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: absolute;
	left: 950px;
}

#u2437
{
	z-index: 73;
	width: 38px;
	height: 77px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	margin-right: -38px;
	margin-top: 218px;
	left: 1150px;
	background: transparent url("../images/boton-der.png") no-repeat left top;
}

#u2437:hover
{
	background-image: url("../images/boton-der2.png");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	margin: 218px -38px 0px 0px;
}

