
#pppu275-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 31px;
	left: 44px;
}

#ppu275-4
{
	width: 0.01px;
	margin-left: 70px;
	position: relative;
}

#pu275-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 153px;
}

#u275-4
{
	z-index: 11;
	width: 105px;
	min-height: 17px;
	margin-right: -105px;
	margin-top: 1px;
	left: 1px;
}

#u283-4
{
	z-index: 43;
	width: 105px;
	min-height: 17px;
	margin-right: -105px;
}

#u283-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -105px 0px 0px;
}

#u283-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -105px 0px 0px;
}

#pu277-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 380px;
}

#u277-4
{
	z-index: 19;
	width: 82px;
	min-height: 17px;
	margin-right: -82px;
	margin-top: 1px;
	left: 1px;
}

#u285-4
{
	z-index: 51;
	width: 82px;
	min-height: 17px;
	margin-right: -82px;
}

#u285-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -82px 0px 0px;
}

#u285-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -82px 0px 0px;
}

#pu279-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 566px;
}

#u279-4
{
	z-index: 27;
	width: 93px;
	min-height: 17px;
	margin-right: -93px;
	margin-top: 1px;
	left: 1px;
}

#u287-4
{
	z-index: 59;
	width: 93px;
	min-height: 17px;
	margin-right: -93px;
}

#u287-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -93px 0px 0px;
}

#u287-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -93px 0px 0px;
}

#pu281-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 837px;
}

#u281-4
{
	z-index: 35;
	width: 112px;
	min-height: 17px;
	margin-right: -112px;
	margin-top: 1px;
	left: 1px;
}

#u289-4
{
	z-index: 67;
	width: 112px;
	min-height: 17px;
	margin-right: -112px;
}

#u289-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -112px 0px 0px;
}

#u289-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -112px 0px 0px;
}

#u274-4
{
	z-index: 7;
	width: 145px;
	min-height: 17px;
	margin-right: -145px;
	margin-top: 1px;
	left: 1px;
}

#u276-4
{
	z-index: 15;
	width: 104px;
	min-height: 17px;
	margin-right: -104px;
	margin-top: 1px;
	left: 266px;
}

#u278-4
{
	z-index: 23;
	width: 57px;
	min-height: 17px;
	margin-right: -57px;
	margin-top: 1px;
	left: 484px;
}

#u280-4
{
	z-index: 31;
	width: 147px;
	min-height: 17px;
	margin-right: -147px;
	margin-top: 1px;
	left: 678px;
}

#u282-4
{
	z-index: 39;
	width: 145px;
	min-height: 17px;
	margin-right: -145px;
}

#u282-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -145px 0px 0px;
}

#u282-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -145px 0px 0px;
}

#u284-4
{
	z-index: 47;
	width: 104px;
	min-height: 17px;
	margin-right: -104px;
	left: 265px;
}

#u284-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -104px 0px 0px;
}

#u284-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -104px 0px 0px;
}

#u286-4
{
	z-index: 55;
	width: 57px;
	min-height: 17px;
	margin-right: -57px;
	left: 483px;
}

#u286-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -57px 0px 0px;
}

#u286-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -57px 0px 0px;
}

#u288-4
{
	z-index: 63;
	width: 147px;
	min-height: 17px;
	margin-right: -147px;
	left: 677px;
}

#u288-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -147px 0px 0px;
}

#u288-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -147px 0px 0px;
}

#u266
{
	z-index: 3;
	width: 1112px;
	margin-top: 3px;
}

#u264
{
	z-index: 5;
	width: 1101px;
	margin-left: 6px;
}

#pu2471
{
	width: 1024px;
	position: relative;
}

#u2471
{
	z-index: 72;
	width: 38px;
	height: 77px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	margin-right: -38px;
	margin-top: 234px;
	background: transparent url("../images/boton-izq.png") no-repeat left top;
}

#u2471:hover
{
	background-image: url("../images/boton-izq2.png");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	margin: 234px -38px 0px 0px;
}

#ppu2489
{
	width: 0.01px;
	position: relative;
}

#pu2489
{
	width: 0.01px;
	position: relative;
}

#u2489
{
	z-index: 74;
	width: 174px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 415px;
	position: relative;
	margin-right: -174px;
}

#u2494
{
	z-index: 264;
	width: 2px;
	height: 49px;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-right: -2px;
	margin-top: 17px;
	left: 46px;
}

#u2495-4
{
	z-index: 265;
	position: relative;
	width: 53px;
	margin-right: -53px;
	margin-top: 27px;
	left: 53px;
}

#u2495-4_img
{
	display: block;
	vertical-align: top;
}

#u2490
{
	z-index: 75;
	width: 283px;
	height: 514px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -283px;
	left: 810px;
}

#u2491-69
{
	z-index: 76;
	width: 231px;
	line-height: 1.1;
	text-align: left;
	font-size: 9px;
	color: #505050;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: absolute;
	margin-top: 96px;
	left: 73px;
}

#u2491-6,#u2491-8
{
	font-weight: normal;
}

#u2492-54
{
	z-index: 145;
	width: 231px;
	line-height: 1.1;
	text-align: left;
	font-size: 9px;
	color: #505050;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: absolute;
	margin-top: 96px;
	left: 594px;
}

#u2491-2,#u2491-4,#u2491-9,#u2491-11,#u2491-18,#u2491-20,#u2491-29,#u2491-37,#u2491-46,#u2491-53,#u2491-60,#u2492-2,#u2492-11,#u2492-20,#u2492-29,#u2492-38,#u2492-47
{
	font-weight: bold;
}

#u2493-65
{
	z-index: 199;
	width: 231px;
	line-height: 1.1;
	text-align: left;
	color: #505050;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: absolute;
	margin-top: 96px;
	left: 304px;
}

#u2493-2,#u2493-11,#u2493-13,#u2493-20,#u2493-27,#u2493-36,#u2493-50,#u2493-57
{
	font-size: 9px;
	font-weight: bold;
}

#u2493-4,#u2493-6,#u2493-8,#u2493-9,#u2493-15,#u2493-17,#u2493-18,#u2493-22,#u2493-24,#u2493-25,#u2493-29,#u2493-31,#u2493-33,#u2493-34,#u2493-38,#u2493-40,#u2493-41,#u2493-43,#u2493-45,#u2493-47,#u2493-48,#u2493-52,#u2493-54,#u2493-55,#u2493-59,#u2493-61,#u2493-62
{
	font-size: 10px;
}

#u2493-63
{
	font-size: 11px;
}

#u2496-4
{
	z-index: 269;
	width: 119px;
	min-height: 24px;
	letter-spacing: 1px;
	color: #000000;
	font-size: 17px;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -119px;
	margin-top: 42px;
	left: 126px;
}

#u2497
{
	z-index: 273;
	width: 960px;
	height: 2px;
	border-color: #000000;
	background-color: #000000;
	position: absolute;
	margin-top: 15px;
	left: 28px;
}

#pu2500-4
{
	width: 0.01px;
	margin-left: 33px;
	position: relative;
}

#u2500-4
{
	z-index: 282;
	width: 47px;
	min-height: 19px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	color: #000000;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -47px;
}

#u2498-4
{
	z-index: 274;
	width: 360px;
	min-height: 19px;
	text-align: center;
	color: #A8A8A8;
	font-size: 10px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -360px;
	left: 94px;
}

#u2499-4
{
	z-index: 278;
	width: 360px;
	min-height: 19px;
	text-align: center;
	color: #A8A8A8;
	font-size: 10px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: absolute;
	left: 550px;
}

#u2501-4
{
	z-index: 286;
	width: 31px;
	min-height: 19px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	color: #000000;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: absolute;
	left: 945px;
}

#u2477
{
	z-index: 73;
	width: 38px;
	height: 77px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	margin-right: -38px;
	margin-top: 212px;
	left: 1150px;
	background: transparent url("../images/boton-der.png") no-repeat left top;
}

#u2477:hover
{
	background-image: url("../images/boton-der2.png");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	margin: 212px -38px 0px 0px;
}

