html
{
	background: #7F7F7F url("../images/fondo.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1024px;
	height:510px;
	background:#FFF;
}

#pppu2612-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 31px;
	left: 44px;
}

#ppu2612-4
{
	width: 0.01px;
	margin-left: 70px;
	position: relative;
}

#pu2612-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 153px;
}

#u2612-4
{
	z-index: 11;
	width: 105px;
	min-height: 17px;
	margin-right: -105px;
	margin-top: 1px;
	left: 1px;
}

#u2600-4
{
	z-index: 43;
	width: 105px;
	min-height: 17px;
	margin-right: -105px;
}

#u2600-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -105px 0px 0px;
}

#u2600-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -105px 0px 0px;
}

#pu2617-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 380px;
}

#u2617-4
{
	z-index: 19;
	width: 82px;
	min-height: 17px;
	margin-right: -82px;
	margin-top: 1px;
	left: 1px;
}

#u2613-4
{
	z-index: 51;
	width: 82px;
	min-height: 17px;
	margin-right: -82px;
}

#u2613-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -82px 0px 0px;
}

#u2613-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -82px 0px 0px;
}

#pu2607-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 566px;
}

#u2607-4
{
	z-index: 27;
	width: 93px;
	min-height: 17px;
	margin-right: -93px;
	margin-top: 1px;
	left: 1px;
}

#u2603-4
{
	z-index: 59;
	width: 93px;
	min-height: 17px;
	margin-right: -93px;
}

#u2603-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -93px 0px 0px;
}

#u2603-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -93px 0px 0px;
}

#pu2614-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	left: 837px;
}

#u2614-4
{
	z-index: 35;
	width: 112px;
	min-height: 17px;
	margin-right: -112px;
	margin-top: 1px;
	left: 1px;
}

#u2615-4
{
	z-index: 67;
	width: 112px;
	min-height: 17px;
	margin-right: -112px;
}

#u2615-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -112px 0px 0px;
}

#u2615-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -112px 0px 0px;
}

#u2616-4
{
	z-index: 7;
	width: 145px;
	min-height: 17px;
	margin-right: -145px;
	margin-top: 1px;
	left: 1px;
}

#u2618-4
{
	z-index: 15;
	width: 104px;
	min-height: 17px;
	margin-right: -104px;
	margin-top: 1px;
	left: 266px;
}

#u2608-4
{
	z-index: 23;
	width: 57px;
	min-height: 17px;
	margin-right: -57px;
	margin-top: 1px;
	left: 484px;
}

#u2604-4
{
	z-index: 31;
	width: 147px;
	min-height: 17px;
	margin-right: -147px;
	margin-top: 1px;
	left: 678px;
}

#u2605-4
{
	z-index: 39;
	width: 145px;
	min-height: 17px;
	margin-right: -145px;
}

#u2605-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -145px 0px 0px;
}

#u2605-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -145px 0px 0px;
}

#u2619-4
{
	z-index: 47;
	width: 104px;
	min-height: 17px;
	margin-right: -104px;
	left: 265px;
}

#u2619-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -104px 0px 0px;
}

#u2619-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -104px 0px 0px;
}

#u2606-4
{
	z-index: 55;
	width: 57px;
	min-height: 17px;
	margin-right: -57px;
	left: 483px;
}

#u2606-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -57px 0px 0px;
}

#u2606-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -57px 0px 0px;
}

#u2609-4
{
	z-index: 63;
	width: 147px;
	min-height: 17px;
	margin-right: -147px;
	left: 677px;
}

#u2609-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -147px 0px 0px;
}

#u2609-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -147px 0px 0px;
}

#u2610
{
	z-index: 3;
	width: 1112px;
	margin-top: 3px;
}

#u2601
{
	z-index: 5;
	width: 1101px;
	margin-left: 6px;
}

#pu2630-4
{
	width: 0.01px;
	margin-left: 61px;
	position: relative;
}

#u2630-4
{
	z-index: 91;
	width: 100px;
	min-height: 17px;
	margin-right: -100px;
}

#u2630-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -100px 0px 0px;
}

#u2630-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -100px 0px 0px;
}

#u2630-4:hover p
{
	margin-left: 2px;
}

#u2631-4
{
	z-index: 95;
	width: 117px;
	min-height: 17px;
	margin-right: -117px;
	left: 197px;
}

#u2631-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -117px 0px 0px;
}

#u2631-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -117px 0px 0px;
}

#u2631-4:hover p
{
	margin-left: 2px;
}

#u2632-4
{
	z-index: 99;
	width: 78px;
	min-height: 17px;
	margin-right: -78px;
	left: 417px;
}

#u2632-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -78px 0px 0px;
}

#u2632-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -78px 0px 0px;
}

#u2632-4:hover p
{
	margin-left: 2px;
}

#u2633-4
{
	z-index: 103;
	width: 98px;
	min-height: 17px;
	margin-right: -98px;
	left: 100px;
}

#u2633-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -98px 0px 0px;
}

#u2633-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -98px 0px 0px;
}

#u2633-4:hover p
{
	margin-left: 2px;
}

#u2634-4
{
	z-index: 107;
	width: 107px;
	min-height: 17px;
	margin-right: -107px;
	left: 311px;
}

#u2634-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -107px 0px 0px;
}

#u2634-4:hover p
{
	margin-left: 2px;
}

#u2635-4
{
	z-index: 111;
	width: 62px;
	min-height: 17px;
	margin-right: -62px;
	left: 496px;
}

#u2635-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -62px 0px 0px;
}

#u2635-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -62px 0px 0px;
}

#u2635-4:hover p
{
	margin-left: 2px;
}

#u2625-4
{
	z-index: 71;
	width: 56px;
	min-height: 17px;
	margin-right: -56px;
	left: 559px;
}

#u2625-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -56px 0px 0px;
}

#u2625-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -56px 0px 0px;
}

#u2625-4:hover p
{
	margin-left: 2px;
}

#u2627-4
{
	z-index: 79;
	width: 106px;
	min-height: 17px;
	margin-right: -106px;
	left: 615px;
}

#u2627-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -106px 0px 0px;
}

#u2627-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -106px 0px 0px;
}

#u2627-4:hover p
{
	margin-left: 2px;
}

#u2626-4
{
	z-index: 75;
	width: 72px;
	min-height: 17px;
	margin-right: -72px;
	left: 721px;
}

#u2626-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -72px 0px 0px;
}

#u2626-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -72px 0px 0px;
}

#u2626-4:hover p
{
	margin-left: 2px;
}

#u2628-4
{
	z-index: 83;
	width: 107px;
	min-height: 17px;
	margin-right: -107px;
	left: 794px;
}

#u2634-4.MuseLinkActive,#u2628-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -107px 0px 0px;
}

#u2628-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -107px 0px 0px;
}

#u2628-4:hover p
{
	margin-left: 2px;
}

#u2629-4
{
	z-index: 87;
	width: 83px;
	min-height: 17px;
	margin-right: -83px;
	left: 905px;
}

#u2629-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -83px 0px 0px;
}

#u2629-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -83px 0px 0px;
}

#u2629-4:hover p
{
	margin-left: 2px;
}

#pu785
{
	width: 1024px;
	position: relative;
}

#u785
{
	z-index: 116;
	width: 38px;
	height: 77px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	margin-right: -38px;
	margin-top: 241px;
	background: transparent url("../images/boton-izq.png") no-repeat left top;
}

#u785:hover
{
	background-image: url("../images/boton-izq2.png");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	margin: 241px -38px 0px 0px;
}

#pu806
{
	position: absolute;
	left: 539px;
}

#u806
{
	z-index: 119;
	position: relative;
}

#pu814-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 27px;
	position: relative;
}

#u814-4
{
	z-index: 161;
	width: 360px;
	min-height: 19px;
	text-align: center;
	color: #A8A8A8;
	font-size: 10px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -360px;
}

#u818-4
{
	z-index: 181;
	width: 31px;
	min-height: 15px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	color: #000000;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -31px;
	left: 411px;
}

#u786
{
	z-index: 117;
	width: 38px;
	height: 77px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	position: relative;
	margin-right: -38px;
	margin-top: 219px;
	left: 1150px;
	background: transparent url("../images/boton-der.png") no-repeat left top;
}

#u786:hover
{
	background-image: url("../images/boton-der2.png");
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	margin: 219px -38px 0px 0px;
}

#u805
{
	z-index: 118;
	width: 130px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-left: 19px;
	padding-top: 96px;
	padding-right: 105px;
	position: absolute;
	margin-top: 39px;
}

#u816-11
{
	z-index: 169;
	width: 130px;
	min-height: 69px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
}

#u816-2,#u816-4,#u816-5,#u816-7,#u816-8
{
	font-size: 12px;
	text-align: right;
	line-height: 1.1;
	color: #7F7F7F;
}

#u816-9
{
	font-size: 13px;
	text-align: justify;
	color: #FFFFFF;
}

#u815-4
{
	z-index: 165;
	width: 47px;
	min-height: 15px;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	color: #000000;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	margin-left: 13px;
	margin-top: 270px;
	position: relative;
}

#u808
{
	z-index: 121;
	width: 152px;
	border-color: #000000;
	background-color: #66AF47;
	position: absolute;
}

#u809-4
{
	z-index: 122;
	width: 147px;
	min-height: 22px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: "BEBAS", "BEBAS-2", sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -147px;
	padding-top: 12px;
}

#u810-29
{
	z-index: 126;
	width: 362px;
	min-height: 353px;
	position: absolute;
	margin-top: 24px;
	left: 165px;
}

#pu810-28
{
	width: 362px;
	line-height: 1.1;
	color: #505050;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -362px;
}

#u810-5
{
	font-size: 13px;
	text-align: left;
}

#u810-7
{
	font-size: 25px;
	text-align: left;
}

#u810-9,#u810-11
{
	text-align: left;
}

#u810-14,#u810-16,#u810-17,#u810-19,#u810-20,#u810-22,#u810-23,#u810-24
{
	font-size: 12px;
	text-align: justify;
}

#u810-2,#u810-3,#u810-12,#u810-25
{
	font-size: 12px;
	text-align: left;
}

#u810-27
{
	font-size: 10px;
	text-align: left;
	font-style: normal;
}

#pu817
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 99px;
}

#u817
{
	z-index: 180;
	width: 357px;
	height: 1px;
	border-color: #000000;
	background-color: #7F7F7F;
	margin-left: 1px;
	position: relative;
}

#u811
{
	z-index: 155;
	width: 19px;
	margin-top: 197px;
	position: relative;
}

#u813-4
{
	z-index: 157;
	width: 360px;
	min-height: 19px;
	text-align: center;
	color: #A8A8A8;
	font-size: 10px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: absolute;
	margin-top: 490px;
	left: 173px;
}

#u819
{
	z-index: 185;
	width: 250px;
	position: absolute;
	margin-top: 385px;
	left: 210px;
}

#u806_img,#u811_img,#u819_img
{
	vertical-align: top;
}

